@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #080808 16.62%, #313131 85.61%);
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track {
  background: #313131;
}

html::-webkit-scrollbar-thumb {
  background: #080808a8;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #FCFCFF;
}

html::-webkit-scrollbar-thumb:active {
  background: #FCFCFF;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  height: 72px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #FCFCFF;
  font-weight: 400;
  font-size: 18px
}

.cabecalho-menu-item:hover{
  scale: 1.07;
}

.conteudo {
  margin-bottom: 48px;
  padding: 50px;
  border-top: 0.4px solid #FCFCFF;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 40px;
  
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #FCFCFF;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #FCFCFF;
}

.conteudo-principal-escrito-botao {
  background-color: #FCFCFF;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(255, 255, 255, 0.53);
}

.conteudo-principal-imagem {
  height: 11%;
  width: 11%;
  
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 90px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #FCFCFF;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #FCFCFF;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #FCFCFF;
}

.rodape {
  padding: 0px;
  display: flex;
  justify-content: center;
  border-top: 0.4px solid #FCFCFF;
}

.rodape-imagem {
  height: 10%;
  width: 10%;
  display: block;
  margin: 35px;
}